<launch>
  <!-- these are the arguments you can pass this launch file, for example gui:=false -->
  <arg name="paused" default="false" />
  <arg name="use_sim_time" default="true" />
  <arg name="extra_gazebo_args" default="" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <arg name="debug" default="false" />
  <arg name="physics" default="ode" />
  <arg name="verbose" default="true" />
  <arg name="reset" default="true" />

  <!-- supply this argument to specify the world name within the worlds folder -->
  <arg name="world_name" default="test" />

  <!-- set use_sim_time flag -->
  <group if="$(arg use_sim_time)">
    <param name="/use_sim_time" value="true" />
  </group>

  <!-- set command arguments -->
  <arg unless="$(arg paused)" name="command_arg1" value="" />
  <arg     if="$(arg paused)" name="command_arg1" value="-u" />
  <arg unless="$(arg headless)" name="command_arg2" value="" />
  <arg     if="$(arg headless)" name="command_arg2" value="-r" />
  <arg unless="$(arg verbose)" name="command_arg3" value="" />
  <arg     if="$(arg verbose)" name="command_arg3" value="--verbose" />
  <arg unless="$(arg debug)" name="script_type" value="gzserver" />
  <arg     if="$(arg debug)" name="script_type" value="debug" />



  <group if="$(eval arg('world_name') != 'test')">
    <arg name="world_file" default="$(find laser_competition_gazebo)/worlds/competition.world" />

    <group if="$(eval arg('world_name') == 'stage_one' or arg('world_name') == 'stage_two')">
      <node name="gazebo" pkg="gazebo_ros" type="$(arg script_type)" respawn="false" output="screen"
      args="$(arg command_arg1) $(arg command_arg2) $(arg command_arg3) -e $(arg physics) $(arg extra_gazebo_args) $(arg world_file)" />

      <node name="land_base_1_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf 
      -file $(find laser_competition_gazebo)/models/land_base/model.sdf -model land_base_1 -x 4 -y 5 -z 0"></node>

      <node name="land_base_2_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf 
      -file $(find laser_competition_gazebo)/models/land_base/model.sdf -model land_base_2 -x 6 -y 7 -z 0"></node>

      <node name="land_base_3_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf 
      -file $(find laser_competition_gazebo)/models/land_base/model.sdf -model land_base_3 -x 2 -y 3 -z 0"></node>
    </group>

    <group if="$(eval arg('world_name') == 'stage_two')">
      <node name="box_1_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf 
      -file $(find laser_competition_gazebo)/models/equipmentA/model.sdf -model box_1 -x 4 -y 5 -z 0.001"></node>

      <node name="box_2_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf 
      -file $(find laser_competition_gazebo)/models/equipmentB/model.sdf -model box_2 -x 6 -y 7 -z 0.001"></node>

      <node name="box_3_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf 
      -file $(find laser_competition_gazebo)/models/equipmentC/model.sdf -model box_3 -x 2 -y 3 -z 0.001"></node>

      <node name="box_4_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf 
      -file $(find laser_competition_gazebo)/models/equipmentD/model.sdf -model box_4 -x 5 -y 2 -z 1.77"></node>

      <node name="box_5_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf 
      -file $(find laser_competition_gazebo)/models/equipmentE/model.sdf -model box_5 -x 8 -y 8 -z 1.97"></node>
    </group>

    <group if="$(eval arg('world_name') == 'stage_three')">
      <node name="gazebo" pkg="gazebo_ros" type="$(arg script_type)" respawn="false" output="screen"
      args="$(arg command_arg1) $(arg command_arg2) $(arg command_arg3) -e $(arg physics) $(arg extra_gazebo_args) $(arg world_file)" />

      <node name="barcode_shelf_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf 
      -file $(find laser_competition_gazebo)/models/barcodeshelf/model.sdf -model barcode_shelf -x 1 -y 3.5 -z 0.012"></node>
    </group>

    <group if="$(eval arg('world_name') == 'stage_four')">
      <node name="gazebo" pkg="gazebo_ros" type="$(arg script_type)" respawn="false" output="screen"
      args="$(arg command_arg1) $(arg command_arg2) $(arg command_arg3) -e $(arg physics) $(arg extra_gazebo_args) $(arg world_file)" />

      <include file="$(find robot_description)/launch/spawn.launch">
        <arg name="x" value="5"/>
        <arg name="y" value="5"/>
        <arg name="set_sensor_camera" value="false"/>
        <arg name="set_sensor_rplidar" value="false"/>
      </include>
    </group>
  </group>

  <group if="$(eval arg('world_name') == 'test')">
    <arg name="world_file" default="$(find laser_competition_gazebo)/worlds/test.world" />

    <node name="gazebo" pkg="gazebo_ros" type="$(arg script_type)" respawn="false" output="screen"
    args="$(arg command_arg1) $(arg command_arg2) $(arg command_arg3) -e $(arg physics) $(arg extra_gazebo_args) $(arg world_file)" />


    <node name="land_base_1_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf 
    -file $(find laser_competition_gazebo)/models/land_base/model.sdf -model land_base_1 -x 0 -y 0 -z 0"></node>

    <node name="land_base_2_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf 
    -file $(find laser_competition_gazebo)/models/land_base/model.sdf -model land_base_2 -x 3 -y 0 -z 0"></node>

    <node name="land_base_3_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf 
    -file $(find laser_competition_gazebo)/models/land_base/model.sdf -model land_base_3 -x -3 -y 0 -z 0"></node>

    <node name="land_base_4_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf 
    -file $(find laser_competition_gazebo)/models/land_base/model.sdf -model land_base_4 -x 0 -y 4 -z 0"></node>

    <node name="land_base_5_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf 
    -file $(find laser_competition_gazebo)/models/land_base/model.sdf -model land_base_5 -x 1.5 -y 2.5 -z 0"></node>

    <node name="land_base_6_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf 
    -file $(find laser_competition_gazebo)/models/land_base/model.sdf -model land_base_6 -x -1.5 -y 2.5 -z 0"></node>

    <node name="land_base_7_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf 
    -file $(find laser_competition_gazebo)/models/land_base/model.sdf -model land_base_7 -x 1.5 -y 5.5 -z 0"></node>

    <node name="land_base_8_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf 
    -file $(find laser_competition_gazebo)/models/land_base/model.sdf -model land_base_8 -x -1.5 -y 5.5 -z 0"></node>


    <node name="box_1_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf 
    -file $(find laser_competition_gazebo)/models/equipmentA/model.sdf -model box_1 -x 0 -y 4 -z 1"></node>

    <node name="box_2_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf 
    -file $(find laser_competition_gazebo)/models/equipmentB/model.sdf -model box_2 -x -1.5 -y 2.5 -z 1"></node>

    <node name="box_3_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf 
    -file $(find laser_competition_gazebo)/models/equipmentC/model.sdf -model box_3 -x 1.5 -y 2.5 -z 1"></node>

    <node name="box_4_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf 
    -file $(find laser_competition_gazebo)/models/equipmentD/model.sdf -model box_4 -x 1.5 -y 5.5 -z 1"></node>

    <node name="box_5_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf 
    -file $(find laser_competition_gazebo)/models/equipmentE/model.sdf -model box_5 -x -1.5 -y 5.5 -z 1"></node>

    <node name="barcode_shelf_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf 
    -file $(find laser_competition_gazebo)/models/barcodeshelf/model.sdf -model barcode_shelf -x -1 -y -5 -z 0.012 -Y 1.57079632679"></node>
  </group>


  <!-- kill previous sessions of mavros, px4 and gazebo -->
  <group if="$(arg reset)">
    <node pkg="mrs_simulation" type="kill_previous_session.sh" name="kill_previous_session" output="screen" />
  </group>

  <!-- start spawner -->
  <include file="$(find mrs_simulation)/launch/mrs_drone_spawner.launch" />
  
  <!-- start gazebo client -->
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen" />
  </group>
</launch>